span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/aclient.css")
      script(defer, src='/javascripts/aclientpage.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          ul
            li
              a(href="#", class="logo")
                span.nav-item DashBoard
            
       
            li
              a(href="", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
                .main-top
                    h1 Clients 
                .main-body
                   .main-body
                    input.search-input(type="text", placeholder=" Search Client ")  
                    button.newclient-button(data-modal-target="#modal") New Client
                .modal#modal
                  .modal-header
                    .title New Client
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="#modal")
                              .main-user-info
                                  .user-input-box
                                      label(for="First Name ") First name 
                                      input(type="text", id="clietname", name="clientname", placeholder=" client name")
                                  .user-input-box
                                      label(for="Last Name ") Last name
                                      input(type="text", id="develoeprname", name="developername", placeholder="developer name ")
                                  .user-input-box
                                      label(for="Start date ") Start date 
                                      input(type="text", id="start date ", name="start date ", placeholder="Enter start date")
                                  .user-input-box2
                                      label(for="Description") Product description
                                      input(type="text", id="description", name="description", placeholder="Enter description")
                                
                              .form-submit-btn
                                  input(type="submit", value="Creat Developer")
                .main-body2  
                    .card 
                      .card-body 
                          h5.card-title clients 
                          p.card-text 
                          each client  in clients
                            li 
                              p= client.FirstName            
                #overlay


             
                  
                        