span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/aclient.css")
      script(defer, src='/javascripts/aclientpage.js')
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          ul
            li
              a(href="/admin/", class="logo")
                span.nav-item DashBoard
            li
              a(href="/admin/clients")
                i.fas.fa-tasks
                span.nav-item clients 
            li
              a(href="/admin/developers")
                i.fas.fa-tasks
                span.nav-item developers 
             li
              a(href="/admin/projects")
                i.fas.fa-tasks
                span.nav-item projects   
              li
              a(href="/admin/tasks")
                i.fas.fa-tasks
                span.nav-item tasks
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main
                .main-top
                    h1 Clients 
                .main-body
                   .main-body
                    input.search-input(type="text", placeholder=" Search Client ")  
                    button.newclient-button(data-modal-target="#modal") New Client
                .modal#modal
                  .modal-header
                    .title New Client
                    button(data-close-button, class="close-button") &times;
                  .modal-body
                     form(action="/admin/createclient", method="get")
                              .main-user-info
                                  .user-input-box
                                      label(for="First Name ") First name 
                                      input(type="text", id="first name", name="FirstName", placeholder=" client name")
                                  .user-input-box
                                      label(for="Last Name ") Last name
                                      input(type="text", id="last name", name="LastName", placeholder="developer name ")
                                  .user-input-box2
                                      label(for="Emai Userl") Email
                                      input(type="text", id="email user", name="EmailUser", placeholder="Enter Email")
                                  .user-input-box2
                                      label(for="password") Password
                                      input(type="text", id="password", name="Pass", placeholder="Enter password")
                              .form-submit-btn
                              
                                  input(type="submit", value="Creat Client")
                .main-body2  
                    .card 
                      .card-body 
                          h5.card-title clients 
                          p.card-text 
                          each client  in clients
                            li 
                              p= client.FirstName            
                #overlay


             
                  
                        