span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Client Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/Caccountdetails.css")
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
    body
      .container
        nav
          ul
            li
              a(href="/dev/", class="logo")
                span.nav-item DashBoard
            
            li
              a(href="/dev/projects")
                i.fas.fa-tasks
                span.nav-item Projects
             li
              a(href="/dev/notes")
                i.fas.fa-tasks
                span.nav-item Notes    
            li
              a(href="/dev/account")
                i.fas.fa-home
                span.nav-item Account Details 
                
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        section.main 
          .main-section
            .card
              .card-body
                h1 This is some text within a card body.    