link(rel="stylesheet",  type='text/css', href="/stylesheets/success.css")
.main 
    .card 
    .card-body 
        h1 succesful upload 
        a(href='/admin/clients').bt.btn-primary Go to Target Page