span(style="font-family: verdana, geneva, sans-serif;")
  doctype html
  html(lang="en")
    head
      meta(charset="UTF-8")
      title Devloper Dashboard
      link(rel="stylesheet",  type='text/css', href="/stylesheets/dev.css")
      //- Font Awesome Cdn Link -->
      link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css")
body
      .container
        nav
          ul
            li
              a(href="/dev/", class="logo")
                span.nav-item DashBoard
            
            li
              a(href="/dev/projects")
                i.fas.fa-tasks
                span.nav-item Projects
            
            li
              a(href="/dev/notes")
                i.fas.fa-tasks
                span.nav-item Notes

            li
              a(href="/dev/account")
                i.fas.fa-home
                span.nav-item Account Details 
                
            li
              a(href="/", class="logout")
                i.fas.fa-sign-out-alt
                span.nav-item Log out
        
        section.main1
          .main-top
            h1 Tasks 
            .main-skills
             .card
               .form-check
                 input.form-check-input(type="checkbox", value="", id="flexCheckDefault")
                 label.form-check-label(for="flexCheckDefault") Default checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox  Checked checkbox    
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                
            .main-skills
              .card
                h3 Progress
                    .row
                      .col-md-9.col-sm-6
                        .progress.blue
                          span.progress-left
                            span.progress-bar
                          span.progress-right
                            span.progress-bar
                          .progress-value 100%
          .main-top
            h1 Tasks 
            .main-skills
             .card
               .form-check
                 input.form-check-input(type="checkbox", value="", id="flexCheckDefault")
                 label.form-check-label(for="flexCheckDefault") Default checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox  Checked checkbox    
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                
            .main-skills
              .card
                h3 Progress
                    .row
                      .col-md-9.col-sm-6
                        .progress.blue
                          span.progress-left
                            span.progress-bar
                          span.progress-right
                            span.progress-bar
                          .progress-value 100%
          .main-top
            h1 Tasks 
            .main-skills
             .card
               .form-check
                 input.form-check-input(type="checkbox", value="", id="flexCheckDefault")
                 label.form-check-label(for="flexCheckDefault") Default checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox  Checked checkbox    
                .form-check
                    input.form-check-input(type="checkbox", value="", id="flexCheckChecked", checked)
                    label.form-check-label(for="flexCheckChecked") Checked checkbox Checked checkbox
                
            .main-skills
              .card
                h3 Progress
                    .row
                      .col-md-9.col-sm-6
                        .progress.blue
                          span.progress-left
                            span.progress-bar
                          span.progress-right
                            span.progress-bar
                          .progress-value 100%

          
          
          
         