doctype html
html(lang="en" dir="ltr")
  head
    meta(charset="utf-8")
    title Login and Registration Form in HTML 
    link(rel="stylesheet", type='text/css', href="/stylesheets/index.css")
    script(defer, src='/javascripts/login.js')
    script(defer, src='/javascripts/registration.js')
    script(type="text/javascript" src="https://cdn.emailjs.com/sdk/2.2.4/email.min.js")
    script(src="/javascripts/registration.js")

    meta(name="viewport", content="width=device-width, initial-scale=1.0")
   


  body
  .container#container
      .form-container.sign-up
          form.create-user(action="/app.js", method="post")    
              h1 Registration   
              input(type="text", id="fname", name="FirstName", placeholder="First Name" required, pattern='[A-Za-z]{3,}',title='Name must be at least 3 letters and contain only letters')
              input(type="text", id="lname", name="LastName", placeholder=" Last Name " required, pattern='[A-Za-z]{3,}',title='Name must be at least 3 letters and contain only letters')
              input(type="text", id="acctype", name="acctrype", placeholder="Developer or Client " required, pattern='[A-Za-z]{3,}',title='Name must be at least 3 letters and contain only letters')
              input(type="email", id="email", name="EmailUser", placeholder="Enter Email" required, title='Please enter a valid email address')
              label(for="password") 
              input(type="password", id="password", name="Pass", placeholder="Enter password" required pattern='(?=.*)(?=.*[a-zA-Z]).{8,}', title='Password must be at least 8 characters long and contain both letters and numbers')
              button.registerBtn Resgister 
      .form-container.sign-in
          form.login(action="/auth", method="get")
            h1 LOG IN
            input(type="text", placeholder="Email Address", name= "username",  id="username"  required)
            input(type="password", placeholder="Password",id ="password", name="password" required)
            button.loginBtn LOG IN 
            .error-container 
                if(error)
                  p  #{message} 
              script(src="./routes/auth.js")    

      
      .toggle-container
        .toggle
          .toggle-panel.toggle-left
           h1 Welcome Back!
           p Enter your personal details to use all site features
           button.hidden#login(type="button") Sign In
          .toggle-panel.toggle-right
            h1 Hello, Friend!
            p Register with your personal details to get access and an account
            button.hidden#register(type="button") Sign up  
                
//-  script(defer, src='/javascripts/login.js')