@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
html,body{
 /* display: grid;*/
  height: 100%;
  width: 100%;
  place-items: center;
  background: linear-gradient(#0D153A 20%, #F5F7F9 0%);
}
ul {
 
  list-style-type: none;


}
.container{
  display: flex;
  border-radius: 30px;
}
/* navigation bar*/
nav{
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
   position: sticky;
  background: #fff;
  left: -250px;
  width: 200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 10px;
  padding-top: 16px;
  border-top-right-radius: 15px ;
  border-bottom-right-radius: 15px ;
 
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 7px;
  text-decoration: none;
}
nav .fas{
  /* position: relative; */
  width: 50px;
  height: 20px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  /* position: relative; */
  top: 12px;
  margin-left: 7px;
  text-decoration: none;
}
a:hover{
  background-color:#0D153A;
  border-radius: 10px;
  width: 80%;
  color: #fff;
  text-decoration: underline;
}


 /* body content */
.main {
  background-color: #eee;
}
.main{
  position: relative;
  margin: 20px;
  width: 100%;
  border-radius: 2%;      
  }
.main-top{
  display: flex;
  width: 70%;
  margin-right: 20%;
  padding-left: 14px;
  padding-top: 10px;
  }

/*.main-top{
  padding-right: 5%;
}*/
h1{
  margin-right: 5%;
  font-size: 30px;
}
.main-body{
  display: flex;
  justify-content: flex-end; /* Align items from the start */
  padding-right: 5%;
}
.newproject-button {
    font-size: 0.85em;
    border: 2px solid black;
    cursor: pointer;
    align-items: center;
    gap: 0.5em;
    background-color:#0D153A;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    /*justify-content: flex-end; /* Align items from the start */
    padding-right: 5%;
    color: #fff;
 
}
.newproject-button:hover {
    background: #ccc;
}
.search-input{
 border-radius: 25px;
 border:solid black;
 margin: 4px;
 padding: 10px;
 
}


.main-body2{
    /*background: #ccc;
    position: relative;
    margin: 20px;
    width: 95%;*/
    height: 80%;
    border-radius: 2%;    
    
}

/* pop out box styling */

.modal {
  position: fixed;
  top: 30%;
  left: 35%;
  transform: translate(-10%, -30%) scale(0);
  transition: 200ms ease-in-out;
  border: 4px solid black;
  border-radius: 10px;
  z-index: 10;
  background:#0D153A;
  width: 500px;
  max-width: 80%;
  color: #fff;
}

.modal.active {
  transform: translate(-10%, -30%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: 2px solid black;
  outline: none;
  background: #eee;
  font-size: 1.25rem;
  font-weight: bold;
  width: 35px;
  height: 35px;
}

.modal-body {
  padding: 10px 15px;
  border-radius: 10px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}
/* form styling */

.main-user-info{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 0;
}
.user-input-box{
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-bottom: 15px;
}
.user-input-box2{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100px;
  padding-bottom: 15px;
}
.user-input-box label{
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
}

.user-input-box input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
}
.user-input-box2 label{
  width: 95%;
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0;
  resize: vertical;

}

.user-input-box2 input{
  height: 40px;
  width: 95%;
  border-radius: 7px;
  outline: none;
  border: 1px solid grey;
  padding: 0 10px;
  resize: vertical;
}
.form-submit-btn input{
  background-color: eee;
  border: 2px solid black;
  cursor: pointer;
  padding: 10px;
  border-radius: 25px;
}

/*list syling */
.card{
  
}

.main-body2{
  background: #ccc;
  padding: 16px;
  margin: 20px;
  width: 95%;
  min-height: 100vh;
  border-radius: 2%;    
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 16px;



}
.card{
  /* width: 300px;
      height: 200px;
      overflow: hidden;
      margin: 10px;
      background: #fff;
      text-align:left;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
       */
       background-color: whitesmoke;
       padding: 16px;
       border-radius: 8px;
       height: 40vh;
}

.card p:first-child {
  font-weight: bold;
}

.card-title {
  font-weight: bold;
}
.info-btn{
  background-color: violet;
  width: 20vws;
}
