@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(left, black, rgb(54, 129, 85));
}
.container{
  display: flex;
}
/* navigation bar*/
nav{
  position: sticky;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
a{
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 7px;
}
nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 7px;
}
a:hover{
  background: #eee;
}
/* content of the page */

.main{
  position: relative;
  padding: 20px;
  width: 100%;
        
  }
  .main-section{
  display: flex;
  width: 70%;
  margin-right: 20%;
  }
  .card-body{
      width: 45%;
      height: 70%;
      margin: 10px;
      background: #fff;
      text-align:left;
      border-radius: 20px;
      padding: 10px;
      box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
      
    }
 
  main-body2{
    background: #ccc;
    padding: 16px;
    margin: 20px;
    width: 95%;
    min-height: 100vh;
    border-radius: 2%;    
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
  
  
  
  }
  .card{
    /* width: 300px;
        height: 200px;
        overflow: hidden;
        margin: 10px;
        background: #fff;
        text-align:left;
        border-radius: 20px;
        padding: 10px;
        box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
         */
         background-color: whitesmoke;
         padding: 16px;
         border-radius: 8px;
         height: 40vh;
         width: 70%;
         
  }
  
  .card p:first-child {
    font-weight: bold;
  }
  
  .card-title {
    font-weight: bold;
  }
  .info-btn{
    background-color: violet;
    width: 20vws;
  }